/.idea/
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/user-api/.mvn/
/user-api/mvnw
/user-api/mvnw.cmd
/graph-user-service/.mvn/
/relational-user-service/.mvn/
/relational-user-service/mvnw
/relational-user-service/mvnw.cmd
/graph-user-service/mvnw
/graph-user-service/mvnw.cmd
